$test-color: red;

:root {
  --color-primary: #25282a;
  --color-secondary: #cc4e2d;
  --color-accent: #f5b335;
  --color-white: #ffffff;
  --color-highlight: #38778a;
}

html, body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}


/************* "Header" Styles ***************/
header {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 30px 15%;
  font-size: large;
}
.header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.header-title {
  margin: 0;
}
.Navigation {
  button {
    background-color: var(--color-primary);
    color: var(--color-white);
    cursor: pointer;
    border: var(--color-primary);
    font-size: x-large;
    transition-duration: 0.3s;
  }
  button:hover {
    color: var(--color-accent);
  }
}
/************* "Header" Styles ***************/

.parent-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin: 10px;
}

.search-bar {
  margin-left: 10px;
}


/************* "About" Styles ***************/
.about {
  width: 100%;
}
.accordion {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.accordion-item {
  border-bottom: 1px solid var(--color-primary);
  color: var(--color-primary);
  cursor: pointer;
  overflow: hidden;
  padding: 0px 30px 40px 30px;
  width: 70%;
}
.accordion-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.accordion-header:hover {
  color: var(--color-accent);
  transition-duration: 0.3s;
}
.accordion-content {
  white-space: pre-wrap;
}
/************* "About" Styles ***************/


.rules {
  margin: 0% 15%;
  button {
    background: var(--color-white);
    border: var(--color-white);
    color: var(--color-highlight);
    cursor: pointer;
    font-size: large;
    text-decoration: underline;
  }
  h4 {
    margin-bottom: 2px;
  }
  table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 80%;
  }
  thead th:nth-child(2) {
    width: 30%;
  }
  tbody td:nth-child(2) {
    text-align: center;
  }
  tbody tr:nth-child(even) {
    background-color: var(--color-white);
  }
  tbody tr:nth-child(odd) {
    background-color: rgb(210, 210, 210);
  }
}

.pdf-container {
  margin: 10px 0;
  height: 428px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}